<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <h1 class="logo lg-heading text-light">BLISSFUL BAY RESORT</h1>
                <ul class="nav-items">
                    <li class="nav-item"><a routerLink="/login">Login</a></li>
                    <li class="nav-item"><a routerLink="/signup">Sign-Up</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-content">
            <h1 class="medium-heading text-light">Welcome to Blissful Bay Resort</h1>
            <!-- <p class="text-light">You're currently logged in to Owner Profile.</p> -->
            <!-- <a href="#" class="btn btn-primary text-red medium-heading">Explore</a> -->
        </div>
    </header>
</body>
</html>
