<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca50c8c56f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="container">
                <h1 class="logo medium-heading">BLISSFUL BAY RESORT</h1>
                <ul class="nav-items">
                    <li class="items"><a routerLink="/home">HOME</a></li>
                    <li class="items temp"><a (click)="logout()">LOGOUT</a></li>
                    <!-- <li class="items"><a href="#">CONTACT</a></li> -->
                </ul>
            </div>
        </nav>
        <div class="header-content">
            <h1 class="medium-heading text-light">Welcome to User Profile</h1>
            <p class="text-light">You're currently logged in to User Profile.</p>
            <!-- <a href="#" class="btn btn-primary text-red medium-heading">Explore</a> -->
        </div>
    </header>
    <section class="showcase" id="explore">
        <div class="container">
            <div class="row row1">
                <div class="img-box img-box-1">

                </div>
                <div class="text-box">
                    <h2 class="medium-heading text-black">RESERVATION SERVICE</h2>
                    <p class="text-grey">This is the reservation service. Here we can add and view reservation.</p>
                    <a routerLink="/addreservation" class="btn btn-secondary">Add Reservation</a>
                    <a routerLink="/viewreservation" class="btn btn-secondary">More Options</a>
                </div>
            </div>
            <div class="row row2">
                <div class="img-box img-box-2">

                </div>
                <div class="text-box">
                    <h2 class="medium-heading text-black">ROOM SERVICE</h2>
                    <p class="text-grey">This is the room service. Here we can add and view room.</p>
                    <!-- <a routerLink="/addroom" class="btn btn-secondary">Add Room</a> -->
                    <a routerLink="/roomforuser" class="btn btn-secondary">View Room</a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="social-media">
                <i class="fa-brands fa-facebook fa-4x"></i>
                <i class="fa-brands fa-instagram fa-4x"></i>
                <i class="fa-brands fa-twitter fa-4x"></i>
            </div>
            <p>Footer Section &copy; 2024, All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>